html{
    background-color:rgb(139, 139, 139)
}


.barnoir {
    background-color: black;
    height: 4rem;
    border-radius: 1rem;
}


hr {
    margin-left: 0;
    width: 99.5%;
    height: 2rem;
    border: 0;
    height: 0;
    box-shadow: 0 0 7px 1px rgb(0, 0, 0)
}


li {
    list-style-type: none;
    margin-top: 1.1rem;
    margin-inline: 1rem;
}

ul {
    display: flex;
}


.liencolor {
    color: rgb(255, 102, 0);
}

h1 {
    margin-left: 40%;  
    width: 15.8%;
    color: rgb(0, 0, 0);
    position: relative;
    scale: 1;
    transform: rotate(0deg);
    filter: blur(0px) ;
    transition: 2s;
  }
  
  h1:hover {
    scale: 2.2;
    transform: rotate(360deg);
    color: red;
 }

.coord,
.demande {
    border-style: double;
    border-width: 5px;
    border-color: rgb(255, 102, 0)
}

input:focus,textarea:focus,option:focus,#sujet:focus {
  background-color: rgb(255, 166, 0);  
}

input,textarea,#sujet,option {
    background-color: rgb(195, 0, 255);
}

#erreur{
    color: red;
}
@media screen and (max-width: 768px) {


html{
    font-size : small;
    }

 ul {
     margin-right: 7%;
     text-align: center;
     flex-direction: column;
     padding-bottom: 1rem;
    }

.barnoir {
     height: auto;
    }

    h1 {
     text-align: center;   
    }

  label,.sexe{
     margin-left: 10%;
  }

}